@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@media (prefers-color-scheme: light) {
  :root {
    --bg: rgb(255, 252, 240);
    --bg-2: rgb(242, 240, 229);

    --tx: rgb(16, 15, 15);
    --tx-2: rgb(111, 110, 105);
    --tx-3: rgb(183, 181, 172);

    --ui: rgb(230, 228, 217);
    --ui-2: rgb(218, 216, 206);
    --ui-3: rgb(206, 205, 195);

    --re-2: rgb(209, 77, 65);
    --re: rgb(175, 48, 41);
    --or-2: rgb(218, 112, 44);
    --or: rgb(188, 82, 21);
    --ye-2: rgb(208, 162, 21);
    --ye: rgb(173, 131, 1);
    --gr-2: rgb(135, 154, 57);
    --gr: rgb(102, 128, 11);
    --cy-2: rgb(58, 169, 159);
    --cy: rgb(36, 131, 123);
    --bl-2: rgb(67, 133, 190);
    --bl: rgb(32, 94, 166);
    --pu-2: rgb(139, 126, 200);
    --pu: rgb(94, 64, 157);
    --ma-2: rgb(206, 93, 151);
    --ma: rgb(160, 47, 111);

    --noise-constrast: 0.7;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: rgb(16, 15, 15);
    --bg-2: rgb(28, 27, 26);

    --tx: rgb(206, 205, 195);
    --tx-2: rgb(135, 133, 128);
    --tx-3: rgb(87, 86, 83);

    --ui: rgb(40, 39, 38);
    --ui-2: rgb(52, 51, 49);
    --ui-3: rgb(64, 62, 60);

    --re: rgb(209, 77, 65);
    --re-2: rgb(175, 48, 41);
    --or: rgb(218, 112, 44);
    --or-2: rgb(188, 82, 21);
    --ye: rgb(208, 162, 21);
    --ye-2: rgb(173, 131, 1);
    --gr: rgb(135, 154, 57);
    --gr-2: rgb(102, 128, 11);
    --cy: rgb(58, 169, 159);
    --cy-2: rgb(36, 131, 123);
    --bl: rgb(67, 133, 190);
    --bl-2: rgb(32, 94, 166);
    --pu: rgb(139, 126, 200);
    --pu-2: rgb(94, 64, 157);
    --ma: rgb(206, 93, 151);
    --ma-2: rgb(160, 47, 111);

    --noise-constrast: 0.3;
  }
}

:root {
  background-color: var(--bg);
  font-family: "JetBrains Mono", monospace;
  color: var(--tx);
  color-scheme: light dark;
  scrollbar-color: var(--ye) transparent;
  scrollbar-width: thin;
}

::selection {
  color: var(--bg);
  background: var(--tx);
}

h1 {
  font-family: "Caveat", cursive;
  font-style: normal;
  color: var(--ye);


  font-size: calc(3rem + 2vw);

  @media(min-width: 1920px) {
    font-size: 5rem;
  }

  text-align: center;
}

h2 {
  font-family: "Caveat", cursive;
  font-style: normal;
  color: var(--ye);


  font-size: calc(2rem + 1vw);

  @media(min-width: 1920px) {
    font-size: 3rem;
  }

  margin: 1.5rem 0;
  text-transform: capitalize;
}

#noise {
  background-image: url("assets/noisy-texture-256x256.png");
  mix-blend-mode: overlay;
  position: absolute;
  max-width: unset;
  height: 100%;
  z-index: -8;
  image-rendering: pixelated;

  filter: contrast(var(--noise-constrast));
}


#gradient {
  --gradient1-color: color-mix(in srgb, var(--ye-2), transparent 70%);
  --gradient2-color: color-mix(in srgb, var(--ye), transparent 80%);
  background-image:
    radial-gradient(circle at -30% -50%, var(--gradient1-color) 0%, transparent 60%),
    radial-gradient(circle at 120% 80%, var(--gradient2-color) 0%, transparent 50%);

  image-rendering: pixelated;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  max-width: unset;
  height: 100%;
  z-index: -9;
}

body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  margin: 0 1rem;
}

body>* {
  width: 100%;
  max-width: 900px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  height: 60px;

  text-transform: uppercase;

  a {
    color: var(--tx);
    font-size: 1rem;
    transition: all 200ms ease;
    text-decoration: none;
    padding: 0 0.5rem;

    &.current-page {
      color: var(--bg);
      font-weight: bold;
      background-color: var(--ye);
      pointer-events: none;
    }

    &:visited:not(.current-page) {
      color: unset;
    }

    &:hover:not(.current-page) {
      text-shadow: var(--tx-3) 0 0 10px;
      text-decoration: underline;
    }

    &:active:not(.current-page) {
      text-shadow: var(--tx-3) 0 0 10px;
      text-decoration: underline;
    }
  }
}

main {
  --limit-color: color-mix(in srgb, var(--tx-3), transparent 60%);
  border: var(--limit-color) 1px solid;
  box-shadow: 0 0px 15px 0px var(--limit-color) inset;
  height: 87vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  border-radius: 5px;

  p {
    letter-spacing: -1px;
  }

  ul {
    list-style-type: square;
  }

  >div {
    padding: 0 1rem;
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60px;

  >#headings {
    all: unset;

    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-behavior: smooth;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;

    scrollbar-width: none;
    -ms-overflow-style: none;

    height: 100%;
    width: 100%;
    max-width: 800px;

    &::-webkit-scrollbar {
      display: none;
    }

    >a {
      all: unset;
      margin: 0 1rem;
      text-wrap: nowrap;
      color: var(--tx-3);
    }

    >a:hover {
      cursor: pointer;
    }

    >a.current-section {
      color: var(--ye);
      opacity: 1;
      text-shadow: var(--ye-2) 0 0 10px;
    }

    scrollbar-color: transparent;
  }
}

.page-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 2rem;
  height: 60px;

  >a {
    all: unset;
    display: flex;
    flex-direction: row;
    gap: 0 10px;
    padding: 0 0.5rem;
    border-radius: 5px;
    background-color: var(--bg-2);
    color: var(--ye);
    border: 1px var(--ui) solid;

    height: 30px;
    line-height: 28px;
    text-transform: lowercase;
    text-align: center;
    transition-property: box-shadow, border-color;
    transition-duration: 200ms;
    transition-timing-function: ease;

    &:hover {
      cursor: pointer;
      border: 1px var(--ye-2) solid;
      box-shadow: var(--ye-2) 0 0 10px -2px;
    }

    &:active {
      box-shadow: var(--ye-2) 0 0 10px -5px;
    }
  }

  >a>span {
    display: none;
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap-mode: nowrap;

    @media(min-width: 590px) {
      display: block;
      max-width: 9rem;
    }
  }
}
